<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"${spring.application.name:-unknown}","environment":"${ENVIRONMENT:-dev}"}</customFields>
    </encoder>
  </appender>
  <root level="${LOG_LEVEL_ROOT:INFO}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
